*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
}

.orphanage-details{
    width: 50rem;
    margin: 6.4rem auto;
    background:white;
    border:1px solid #d3e2e5;

    border-radius:1rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.orphanage-details > img{
 width:100%;
 height: 30rem;
 object-fit: cover;
}
.url{
    width: 404px;
    height: 54px;
    background: rgb(177, 167, 167);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url a {
    font-size: 1.3rem;
    color: black;
}
.url img{
    margin-left: 5px;
    width:100%;
    max-width: 45px;
    cursor: pointer;
    border-radius: 5px;
}
.images{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;
}
.images button{
    border: none;
    background: none;

    height: 7rem;
    cursor: pointer;
    border-radius: 2rem;

    overflow:hidden;
    opacity:0.6;
    transition: opacity 0.2s;
}
.images button:hover,
.images button.active{
    opacity: 1;
}
.images button img {
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}
.mesager{
    width: 47%;
    height: 25%;
    position: fixed;
    z-index: 15;
    background: rgba(255,255,255);
    display: none;
    justify-content: space-between;
    align-items: center;
    top: 74%;
    right: 29%;
    
}
.mesager_text{
    display:flex;
    flex-direction: column;
}

.mesager  img{
    width: 100%;
    max-width: 48px;
    border-left: 5px solid rgb(33,166,122)
}
.feche{
    font-size: 1.6rem;
    margin: 10px;
    cursor:pointer;
}